/**
 * Posts
 */

.entry {
	margin-bottom: $push-lg;

	&.has-post-image {

	}
	&.sticky {
		
	}
	.entry-header {
		margin-bottom: $push;
	}
		.entry-image {
			
				&.archive-entry-image {
				
				}
				.entry-image-link {
					
				}
					.the-entry-image {
						margin-bottom: 1em;
					
						&.entry-thumbnail {
							float: left;
							margin: 0.5em;
						}
					}
		}
		.entry-title {
		
			a {
				&:hover,
				&:focus,
				&:active {

				}
			}
		}
		.entry-details {
			
			.meta {
			
				a {
					
					&:hover,
					&:focus,
					&:active {

					}
				}
				&.attachment{
					@include gen-dashicon('\f128', $margin: 0 0.25em 0 0);
					
					a {
						
					}
				}
				&.author {
					@include gen-dashicon('\f110', $margin: 0 0.25em 0 0);
					
					a {
						
					}
				}
				&.bookmark {
					@include gen-dashicon('\f331', $margin: 0 0.25em 0 0);
					
					a {
						
					}
				}
				&.date {
					@include gen-dashicon('\f145', $margin: 0 0.25em 0 0);
					
					a {
						
					}
				}
				&.category {
					@include gen-dashicon('\f318', $margin: 0 0.25em 0 0);
					
					a {
						
					}
				}
				&.comments {
					@include gen-dashicon('\f101', $margin: 0 0.25em 0 0);
					
					a {
						
					}
				}
			}
		}
	.entry-content {
		margin-bottom: $push;
		
		.contain {
		
			p,
			ol,
			ul {
				
			}
			.more-link {
			
				.read-more {
					@include gen-dashicon('\f310', $place: after, $margin: 0 0 0 0.5em);
				}
			}
		}
	}
		// Shown if a post is split into pages.
		.entry-pages {
		
			& > a,
			& > span {
				@include gen-button($padding: 0.15em 0.5em);
				
				&:hover,
				&:focus,
				&:active {

				}
			}
			// The active page link.
			& > span {
				@include gen-button-activated($padding: 0.15em 0.5em);
			}
		}
	.entry-footer {
	
		> * {
			margin-bottom: $push;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
		.entry-tags {
			@include gen-dashicon('\f323', $margin: 0 0.25em 0 0);
			
			a {
			
				&:hover,
				&:focus,
				&:active {

				}
			}
		}
		.entry-edit {
			@include gen-dashicon('\f327', $margin: 0 0.25em 0 0);
			
			a {
			
				&:hover,
				&:focus,
				&:active {

				}
			}
		}
}