/**
 * Tables
 */

table {
	margin-bottom: $push-lg;
	
	caption {
		@include meta-text;
		text-align: center;
	}
	thead {
	
		tr {
			@include gen-border(bottom, $size: 2px);
			
			th {
				font-weight: bold;
				padding: $pad;
				text-align: center;
			}
		}
	}
	tbody {
		
		tr {
			@include gen-border(bottom);
			
			td {
				@include gen-border(right);
				padding: $pad;
				
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
}