/**
 * Widgets
 */

// Wraps all widget areas.
.widgets {
	margin-bottom: $push-lg;
}

// Effects all widgets.
.widget {
	margin-bottom: $push-lg;
	
	&:last-child {
		margin-bottom: 0;
	}
	.contain {
	
	}
		ol {
			
		}
		ul {
			list-style-type: none;
			
			li {
				@include gen-border(bottom);
			}
			ul {
				margin: 0.25em 0 0 0;
				
				li:last-child {
					border-bottom: 0;
				}
			}
		}
			li {
				padding: 0.25em 0;
				
				&:nth-child(even) {
					
				}
				&:nth-child(odd) {
					
				}
				&:last-child {
					
				}
				&.current-menu-item {
				
					& > a {
						text-decoration: underline;
					}
				}
				a {

					&:hover,
					&:focus,
					&:active {
						
					}
				}
			}
			.menu-item.menu-item-has-children {
			
				> a {
					@include gen-dashicon('\f140', after, $margin: 0 0 0 0.5em);
				}
				&.opened > a {
					@include gen-dashicon('\f142', after, $margin: 0 0 0 0.5em);
				}
			}
}
	.widget-title {
	
	}

// Effects only sidebar widgets.
.sidebar {
	
	&.left-sidebar {
	
	}
	&.right-sidebar {
	
	}
	.widget {
		
	}
}

// Effects only non-sidebar widgets.
.widget-area {
	
	.widget {
		
	}
}