/**
 * Main layout
 */

/* Stop padding and borders from effecting the size of all elements. */
* {
	@include box-sizing(border-box);
}

body {
	background: $bg-color;
	color: $text-color;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/* This row is the element centered in the viewport. */
/* Ensure all root elements follow this structure. */
/* body #{section}.wrapper .row */
body > .wrapper > .row {
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 1200px;
}

/* Only used on elements directly in the body. */
.wrapper {
	width: 100%;
}

/**
 * General container for content inside of division.
 * Ideal place to apply padding, width, borders, backgrounds, etc.
 * This should be included inside of most grid columns.
 * This will clear any floated content inside.
 */
.contain {
	@include clear-fix;
	display: block;
	position: static;
}

// Links to pages with more posts.
.posts-pages {

	.next-posts {
		float: right;
	}
	.prev-posts {
		float: left;
	}
}

// Links to image attachments attached to the same post.
.image-links {
	
	.next-image {
		float: right;
	}
	.prev-image {
		float: left;
	}
}

// Credits element hooked into wp_footer.
.ascension-credits {
	color: #808080;
	font-size: 0.75em;
	padding: 0.5em;
	
	a {
		color: darken(#808080, 15%);
		
		&:hover,
		&:active {
			color: lighten(#808080, 10%);
		}
	}
}