//==========
/* Vertical Menus */
//==========
.menu,
.menu.vertical {
	list-style-type: none;
	margin: 0;
	
	.menu-item {
		margin: 0;
		padding: 0.25em 0;
	}
		.sub-menu {
			display: none;
			list-style-type: none;
			margin: 0.25em 0 0 0;
			padding: 0;
		}
		.no-js & .menu-item:hover > .sub-menu {
			display: block;
		}
}

//==========
/* Horizontal Menus */
//==========
.menu.horizontal {
	@include clear-fix;
	list-style-type: none;
	margin: 0;
		
	.menu-item {
		@include inline-block(none);
		margin: 0;
		padding: 0;
		position: relative;
	}
		.sub-menu {
			background: $bg-color;
			display: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
			position: absolute;
			text-align: left;
			z-index: 999;
			
			.menu-item {
				display: block;
				margin: 0;
				padding: 0;
				position: relative;
				
				a {
					white-space: nowrap;
				}
				> .sub-menu {
					position: absolute;
					left: 100%;
					top: 0;
				}
			}
		}
		.no-js & .menu-item:hover > .sub-menu {
			display: block;
			
			.menu-item:hover > .sub-menu {
				@include inline-block(none);
			}
		}
	
	@media ( max-width: $medium-starts-at ) {
		.drop.at-small & {
			
			.menu-item {
				display: block;
				
				&.menu-item-has-children {
					
					> a:after {
						display: none;
					}
				}
			}
				.no-js .menu-item:hover > .sub-menu {
					display: none;
					
					.menu-item:hover > .sub-menu {
						display: none;
					}
				}
		}
	}
	
	@media ( max-width: $large-starts-at ) {
		.drop.at-medium & {
			
			.menu-item {
				display: block;
			
				&.menu-item-has-children {
					
					> a:after {
						display: none;
					}
				}
			}
				.no-js .menu-item:hover > .sub-menu {
					display: none;
					
					.menu-item:hover > .sub-menu {
						display: none;
					}
				}
		}
	}
	
	@media ( max-width: $full-starts-at ) {
		.drop.at-large & {
			
			.menu-item {
				display: block;
			
				&.menu-item-has-children {
					
					> a:after {
						display: none;
					}
				}
			}
				.no-js .menu-item:hover > .sub-menu {
					display: none;
					
					.menu-item:hover > .sub-menu {
						display: none;
					}
				}
		}
	}
}