/**
* Print
*/

@media print {

	body {
		background: none !important;
		font-size: 10pt;
	}
	
	/* Show URLs */
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] ";
	}
}