/**
* Responsive dropdowns
*/

.drop {
	
	&.relative {
		position: relative;
	}
	.entry-content & {
		position: relative;
	}
	.drop-control {
		cursor: pointer;
		display: none;
		
		.drop-title {
			display: inline;
			margin: 0;
			padding: 0;
		}
	}
	.drop-content {
		
	}
	
	@media ( max-width: $medium-starts-at ) {
		&.at-small {
		
			.drop-control {
				cursor: pointer;
				display: block;
			}
			.drop-content {
				background: $bg-color;
				display: none;
				padding: 0.5em;
				position: absolute;
				right: 0;
				left: 0;
				z-index: 999;
				
				.menu {
					
					.menu-item {
						float: none;
						margin: 0;
						
						&:last-child {
							
						}
					}
				}
			}
			.no-js &:hover {
				
				.drop-content {
					display: block;
				}
			}
		}
	}
	
	@media ( max-width: $large-starts-at ) {
		&.at-medium {
		
			.drop-control {
				cursor: pointer;
				display: block;
			}
			.drop-content {
				background: $bg-color;
				display: none;
				padding: 0.5em;
				position: absolute;
				right: 0;
				left: 0;
				z-index: 999;
				
				.menu {
					
					.menu-item {
						float: none;
						margin: 0;
						
						&:last-child {
							
						}
					}
				}
			}
			.no-js &:hover {
				
				.drop-content {
					display: block;
				}
			}
		}
	}
	
	@media ( max-width: $full-starts-at ) {
		&.at-large {
		
			.drop-control {
				cursor: pointer;
				display: block;
			}
			.drop-content {
				background: $bg-color;
				display: none;
				padding: 0.5em;
				position: absolute;
				right: 0;
				left: 0;
				z-index: 999;
				
				.menu {
					
					.menu-item {
						float: none;
						margin: 0;
						
						&:last-child {
							border-bottom: 0;
						}
					}
				}
			}
			.no-js &:hover {
				
				.drop-content {
					display: block;
				}
			}
		}
	}
	
	&.at-full {
	
		.drop-control {
			cursor: pointer;
			display: block;
		}
		.drop-content {
			background: $bg-color;
			display: none;
			padding: 0.5em;
			position: absolute;
			right: 0;
			left: 0;
			z-index: 999;
				
			.menu {
				
				.menu-item {
					float: none;
					margin: 0;
					
					&:last-child {
						
					}
				}
			}
		}
		.no-js &:hover {
			
			.drop-content {
				display: block;
			}
		}
	}
}