/**
 * Responsive dropdowns
 */

.drop {
	
	.drop-control {
		
		.drop-title {
			
		}
	}
	.drop-content {
		
	}
	
	@media ( max-width: $medium-starts-at ) {
		&.at-small {
		
			.drop-control {
				
			}
			.drop-content {
				@include gen-borders();
				background: $bg-alt-color;
				
				.menu {
					
					.menu-item {
						
						&:last-child {
							
						}
					}
				}
			}
		}
	}
	
	@media ( max-width: $large-starts-at ) {
		&.at-medium {
		
			.drop-control {
				
			}
			.drop-content {
				@include gen-borders();
				background: $bg-alt-color;
				
				.menu {
					
					.menu-item {
						
						&:last-child {
							
						}
					}
				}
			}
		}
	}
	
	@media ( max-width: $full-starts-at ) {
		&.at-large {
		
			.drop-control {
				
			}
			.drop-content {
				@include gen-borders();
				background: $bg-alt-color;
				
				.menu {
					
					.menu-item {
						
						&:last-child {
							
						}
					}
				}
			}
		}
	}
	
	&.at-full {
	
		.drop-control {
			
		}
		.drop-content {
				@include gen-borders();
				background: $bg-alt-color;
				
			.menu {
				
				.menu-item {
					
					&:last-child {
						
					}
				}
			}
		}
	}
}