/**
 * Slider
 */

.slider {

}
	.slides {
		
		li {
			
			a {
			
				img {
				
				}
			}
		}
	}
		.slide-content {
			@include show(medium);
			bottom: 0;
			position: absolute;
			width: 100%;
			z-index: 99;
			
			.contain {
				background: rgba($black, 0.75);
				color: $white;
				padding: $pad;
			}
		}
			.slide-title {
				color: $white;
				line-height: 1;
			}
			.slide-text {
				@include show(large);
				padding: 0.25em 0;
				
				p {
					margin: 0;
				}
			}
			
	.flex-control-nav {
		
		li {
			
			a {
				@include gen-button($padding: 0.15em 0.5em);
				
				&:hover,
				&:focus {
					color: $link-hover-color;
				}
				&.flex-active {
					@include gen-button-activated($padding: 0.15em 0.5em);
				}
			}
		}
	}
	
	.flex-direction-nav {
		@include show(large);
	
		li {
			font-size: 24px;

			& .flex-prev {
				@include border-radius(2px, 2px);
			}
			& .flex-next {
				@include border-radius(2px, 2px);
			}
			a {
				background: rgba($black, 0.75);
				color: $white;
			
				&:hover,
				&:focus,
				&:active {
					color: $link-hover-color;
					text-decoration: none;
				}
			}
		}
	}

.carousel {
	
}